<div class="card h-100">
    <div class="promos d-flex justify-content-between position-absolute w-100">
        <div class="label-new">
            <span class="text-white bg-success small d-flex align-items-center px-2 py-1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="ml-1">New</span>
            </span>
        </div>
        <div class="label-sale">
            <span class="text-white bg-primary small d-flex align-items-center px-2 py-1">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <span class="ml-1">Sale</span>
            </span>
        </div>
    </div>
    <div class="img-section">
        <img [src]="prd.image" class="responsive" alt="Product">
    </div>
    <div class="card-body px-2 pb-2 pt-1">
        <div class="d-flex justify-content-between">
            <div>
                <p class="h4 text-primary">$ {{prd.price}}</p>
            </div>
            <div>
                <a href="#" class="text-secondary lead" data-toggle="tooltip" data-placement="left" title="Compare">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <p class="text-warning d-flex align-items-center mb-2">
            <i *ngIf="prd.rating.rate > 0" class="fa fa-star" aria-hidden="true"></i>
            <i *ngIf="prd.rating.rate > 1" class="fa fa-star" aria-hidden="true"></i>
            <i *ngIf="prd.rating.rate > 2" class="fa fa-star" aria-hidden="true"></i>
            <i *ngIf="prd.rating.rate > 3" class="fa fa-star" aria-hidden="true"></i>
            <i *ngIf="prd.rating.rate > 4" class="fa fa-star" aria-hidden="true"></i>
            <span class="m-1">{{prd.rating.rate}}</span>
        </p>
        <p class="mb-0">
            <strong>
            <span class="text-secondary">{{prd.title}}</span>
          </strong>
        </p>
        <p class="mb-1">
            <small>
            <span class="text-secondary">{{prd.category}} </span>
          </small>
        </p>
        <div class="d-flex justify-content-between">
            <div class="col px-0">
                <button class="btn btn-outline-primary btn-block">
              Add To Cart 
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </button>
            </div>
            <div class="ml-2">
                <a href="#" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>