button {
    background-color: #A0A0A0;
    border: 1.5px solid white;
    box-shadow: 2px 0px 8px 1px black;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: .5rem 1.25rem;
    font-weight: 500;
}

button:hover {
    border: 1.5px solid black;
    color: white;
}